# STEP 1: Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# STEP 2: Loading Dataset

In [2]:
dataset = pd.read_csv("marketing_campaign.csv", sep='\t')
dataset

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

## Basic Info

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

# STEP 3: Handling Missing Values

In [4]:
# checking for any missing value using isnull()
print("Missing Values Count:")
print(dataset.isnull().sum())

Missing Values Count:
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [5]:
# Check shape before handling
print("Shape before handling nulls: ", dataset.shape)

Shape before handling nulls:  (2240, 29)

In [6]:
# Fill missing Income with median
income_median = dataset['Income'].median()
dataset['Income'].fillna(income_median, inplace=True)

C:\Users\meetv\AppData\Local\Temp\ipykernel_464\309589862.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Income'].fillna(income_median, inplace=True)

In [7]:
# check again
print("Missing values after handling:")
print(dataset.isnull().sum())

Missing values after handling:
ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

# STEP: Removing Duplicates

In [8]:
print("Duplicate rows before dropping:", dataset.duplicated().sum())

# Drop duplicate rows
dataset.drop_duplicates(inplace=True)

print("Duplicate rows after dropping:", dataset.duplicated().sum())
print("Shape after dropping duplicates:", dataset.shape)

Duplicate rows before dropping: 0
Duplicate rows after dropping: 0
Shape after dropping duplicates: (2240, 29)

# STEP 4: Standardize Categorical Text Values

In [9]:
# Before cleanup
print("Before standardizing marital status:\n", dataset['Marital_Status'].unique())
print("Before standardizing education:\n", dataset['Education'].unique())

Before standardizing marital status:
 ['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']
Before standardizing education:
 ['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']

In [10]:
# Strip, lowercase
dataset['Education'] = dataset['Education'].str.lower().str.strip()
dataset['Marital_Status'] = dataset['Marital_Status'].str.lower().str.strip()

In [11]:
# Replace inconsistent entries
dataset['Marital_Status'] = dataset['Marital_Status'].replace({
    'together': 'married',
    'alone': 'single',
    'absurd': 'single',
    'widow': 'widowed',
    'yolo': 'single'
})

In [12]:
# After cleanup
print("After standardizing marital status:\n", dataset['Marital_Status'].unique())
print("After standardizing education:\n", dataset['Education'].unique())

After standardizing marital status:
 ['single' 'married' 'divorced' 'widowed']
After standardizing education:
 ['graduation' 'phd' 'master' 'basic' '2n cycle']

# Step 5: Format Dates

In [13]:
print("Data type of Dt_Customer before:", dataset['Dt_Customer'].dtype)

# Convert to datetime
dataset['Dt_Customer'] = pd.to_datetime(dataset['Dt_Customer'], dayfirst=True)

# Optional: Format to string
dataset['Dt_Customer'] = dataset['Dt_Customer'].dt.strftime('%d-%m-%Y')

print("Data type of Dt_Customer after formatting:", dataset['Dt_Customer'].dtype)
print(dataset[['Dt_Customer']].head())

Data type of Dt_Customer before: object
Data type of Dt_Customer after formatting: object
  Dt_Customer
0  04-09-2012
1  08-03-2014
2  21-08-2013
3  10-02-2014
4  19-01-2014

#  Step 6: Rename Column Headers

In [14]:
print("Column names before cleaning:\n", dataset.columns.tolist())

dataset.columns = [col.lower().replace(" ", "_") for col in dataset.columns]

print("Column names after cleaning:\n", dataset.columns.tolist())

Column names before cleaning:
 ['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']
Column names after cleaning:
 ['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome', 'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits', 'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts', 'mntgoldprods', 'numdealspurchases', 'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth', 'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1', 'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response']

# Step 7: Fix Data Types

In [15]:
# Derive and convert age
dataset['age'] = 2024 - dataset['year_birth']
dataset['age'] = dataset['age'].astype(int)

# Convert categorical
for col in ['education', 'marital_status']:
    dataset[col] = dataset[col].astype('category')

print("Data types after fixing:\n", dataset.dtypes[['age', 'education', 'marital_status']])
print(dataset[['age', 'education', 'marital_status']].head())

Data types after fixing:
 age                  int64
education         category
marital_status    category
dtype: object
   age   education marital_status
0   67  graduation         single
1   70  graduation         single
2   59  graduation        married
3   40  graduation        married
4   43         phd        married

# Extras: Step 8 - Outlier Detection ( For Income)

In [16]:
# Display income stats before filtering
print("Income stats before filtering:")
print(dataset['income'].describe())

# Remove outliers using IQR
Q1 = dataset['income'].quantile(0.25)
Q3 = dataset['income'].quantile(0.75)
IQR = Q3 - Q1
dataset = dataset[(dataset['income'] >= Q1 - 1.5 * IQR) & (dataset['income'] <= Q3 + 1.5 * IQR)]

# Display stats after filtering
print("Income stats after removing outliers:")
print(dataset['income'].describe())

Income stats before filtering:
count      2240.000000
mean      52237.975446
std       25037.955891
min        1730.000000
25%       35538.750000
50%       51381.500000
75%       68289.750000
max      666666.000000
Name: income, dtype: float64
Income stats after removing outliers:
count      2232.000000
mean      51630.926971
std       20601.679542
min        1730.000000
25%       35434.750000
50%       51381.500000
75%       68118.000000
max      113734.000000
Name: income, dtype: float64

# Step 9: Save Final Cleaned Dataset

In [17]:
# Save to CSV
dataset.to_csv("customer_personality_cleaned.csv", index=False)
print("Cleaned dataset saved as 'customer_personality_cleaned.csv'")

Cleaned dataset saved as 'customer_personality_cleaned.csv'